<!doctype html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <title>Cadastro</title>
    </head>
    
    <body>
        <div class="back">
            <div class="div-center">
                <div class="content">
                    <form action="/schedule" method="POST">
                        {% csrf_token%}
                        <div class="mx-auto" style="width: 400px;">
                            <div class="col-xs-8 col-xs-offset-4">
                                <h2 style="text-align:center;">Registrar Tarefa</h2>
                            </div>
                            <hr />
                            <div class="form-group">
                                <label for="description">Descrição: </label>
                                <input type="text" class="form-control" name="description" id="description" placeholder="Descrição" value="{{schedule_form.description.value}}">
                            </div>
                            <div class="form-group">
                                <label for="date">Data: </label>
                                {% if schedule_form.date.value != None%}
                                    <input type="date" class="form-control" name="date" id="date" placeholder="Data"  value="{{schedule_form.date.value}}">
                                {% else %}
                                    <input type="date" class="form-control" name="date" id="date" placeholder="Data">
                                {% endif %}
                            </div>
                            <button type="submit" class="btn btn-primary">Cadastrar</button>
                            <a class="btn btn-dark" href="/" role="button">Ver Tarefas</a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="form-group">
                        {% if schedule_form.errors %}
                            {% for field in schedule_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        <strong>{{ error|escape }}</strong><br>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>
